body {
	background-color: #F5F5F5;
  font-family: 'Samurai', 'Noto Sans TC', 'Arial', sans-serif;
  font-size: 16pt;
  width: 0px auto;
}
h1 {
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}
form {
  width: 240px;
  margin: auto;
}
.form {
	background-color: #fff;
	width: 340px;
	padding: 31px;
	margin: auto;
	margin-top: 30vh;
	border-radius: 6px;
}
span {
	margin-top: 6px;
}
input {
	margin-left: 6px;
}
.input {
	margin-bottom: 20px;
}
.submit {
	margin-left: 137px;
}