body {
	background-color: #F5F5F5;
    font-family: 'Samurai', 'Noto Sans TC', 'Arial', sans-serif;
    font-size: 16pt;
    width: 0px auto;
}
h1 {
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}
h2 {
	text-align: center;
	margin-bottom: 10px;
}
form {
	width: 240px;
	margin: auto;
}

th {
	text-align: center;
	background-color: #9e9e9e;
	color: white;
	padding: 6px;
}
td {
	border: 1px solid #ddd;
	padding: 6px;
	text-align: center;
}
span {
	margin-top: 6px;
}
input {
	margin-left: 6px;
}
table {
	min-width: 600px;
	margin: 0 auto;
	width: 100%;
}
.form {
	background-color: #fff;
	width: 340px;
	padding: 31px;
	margin: auto;
	margin-top: 30vh;
	border-radius: 6px;
}

.input {
	margin-bottom: 20px;
}
.submit {
	margin-left: 137px;
}
.ButtonList {
	background-color: #fff;
	width: 340px;
	padding: 31px;
	margin: auto;
	margin-top: 30vh;
	border-radius: 6px;
}
.button_admin {
	width: 95%;
	margin-left: 6px;
	margin-bottom: 10px;
}
.Buttons {
	width: 100%;
}
.square {
	padding: 31px;
	margin: 6px auto;
	border-radius: 6px;
}
.student_square {
	background-color: #fff;
	width: 340px;
	padding: 31px;
	margin: auto;
	margin-top: 29vh;
	border-radius: 6px;
}
.grade {
	text-align: center;
}
.upgrade {
	color: red;
}
.downgrade {
	color: green;
}
.Speed {
	margin-top: 0px;
	text-align: center;
}
.num {
	font-size: 25pt;
	font-weight: bold;
	color: #ba0505;;
}
.request {
	margin: 0px 3px;
	display: inline;
	width: 202px;
}
.logout {
	width: 100%;
    margin: 6px 2px;
}
@media screen and (max-width: 580px) {
	.login {
		width: 89%;
	}
}
@media screen and (max-width: 340px) {
	.form {
		width: 100%;
	}
}
@media screen and (max-width: 662px) {
	.table {
		text-align: left;
		margin-left: 270px;
	}
}